apiVersion: batch/v1
kind: CronJob
metadata:
  name: etl-cronjob
  namespace: python
spec:
  schedule: "0 * * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: etl
              image: 090420481900.dkr.ecr.eu-central-1.amazonaws.com/case-etl:latest
